.venv
shards
census2020_block2020
old_block2020
make_prototile_zoom
prototiles.2020
tmp*
shuffle_records
__pycache__
census2020_block2020_old_from_pl
debug_query_2.pgsql
debug_query_3.pgsql
debug_query_4.pgsql
debug_query_5.pgsql
debug_query.pgsql
perftest_2020.ipynb
select 1.sql
nhgis_blk2010_blk2020_ge
